In [1]:
import time
import pandas as pd
import numpy as np
from pycaret.classification import *
import warnings

warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv("data/train.csv")
train

       individualnumber  category_number  hakkedis_amt  odul_amt  response
0              94230288             9000          21.0       2.0         0
1               4684087             9000          17.0       1.0         0
2              92472145             9058          24.0       3.0         0
3              88026681             9030          22.0       2.0         0
4              98127795             9001          38.0       3.0         0
...                 ...              ...           ...       ...       ...
13110          97214433             9059          27.0       2.0         0
13111          96841665             9004          65.0       6.0         0
13112          98445787             9044          33.0       3.0         0
13113          13781030             9004          66.0       6.0         0
13114          96703898             9017          15.0       1.0         0

[13115 rows x 5 columns]

In [3]:
test = pd.read_csv("data/test.csv")
test

       individualnumber  category_number  hakkedis_amt  odul_amt
0              95812936             9029          38.0       3.0
1              23929570             9012          28.0       2.0
2              95948115             9019          21.0       2.0
3             100898513             9035          48.0       4.0
4              12769156             9015          26.0       3.0
...                 ...              ...           ...       ...
13231          93418529             9049          32.0       3.0
13232          97397069             9018          20.0       2.0
13233          95212479             9046          85.0       8.0
13234          93406449             9032          39.0       3.0
13235          98792801             9008          20.0       2.0

[13236 rows x 4 columns]

In [4]:
customer = pd.read_csv("data/customer.csv")
customer

       individualnumber gender  city_code  dateofbirth
0              94212124      K        NaN       1946.0
1              96387515      E       34.0       1974.0
2              95040383      E       80.0       1980.0
3              94694434      E        NaN       1970.0
4              47648671      E       35.0       1963.0
...                 ...    ...        ...          ...
28588          94368469      K       34.0       1948.0
28589          90691477      E        7.0       1990.0
28590          95834384      E       22.0       1970.0
28591          92199848      E       34.0       1985.0
28592          95636725      K        NaN       1984.0

[28593 rows x 4 columns]

In [53]:
customeraccount = pd.read_csv("data/customeraccount.csv")
customeraccount

       individualnumber        cardnumber
0              16481068  7287134635560315
1              17634947  6587004647560415
2              19323290  8187034648564315
3              19323290  3005502487247749
4              37820213  6287114610560316
...                 ...               ...
35154         100998656  2687784602565315
35155         101074070  6387894671560235
35156         101270229  9287054697566815
35157         101328888  2587064608564915
35158         102040641  1587464609566715

[35159 rows x 2 columns]

In [54]:
transaction_header = pd.read_csv("data/transaction_header.csv")
transaction_header

        date_of_transaction        cardnumber           basketid  is_sanal
0                2020-12-01  8487374630565615  20120163990041163         0
1                2020-12-01  4287574603569015  20120163990016137         0
2                2020-12-01  6487154648560315  20120160080017338         0
3                2020-12-01  3787564693563915  20120163570105022         0
4                2020-12-01  9087994683569715  20120162340016645         0
...                     ...               ...                ...       ...
1124668          2021-12-01  5187224618568515  21120111950019800         0
1124669          2021-12-01    87714689568015  21120111830079927         0
1124670          2021-12-01  3287454606560415  21120110690047978         0
1124671          2021-12-01  9887854616568815  21120110000068135         0
1124672          2021-12-01  7387064602569915  21120109990065355         0

[1124673 rows x 4 columns]

In [56]:
train_customer = pd.merge(train, customer, how="left")
train_customer_customeraccount = pd.merge(train_customer, customeraccount, how="left")
train_customer_customeraccount_transactionheader =  pd.merge(train_customer_customeraccount, transaction_header, how="left")
train_customer_customeraccount_transactionheader

,individualnumber,category_number,hakkedis_amt,odul_amt,response,gender,city_code,dateofbirth,cardnumber,date_of_transaction,basketid,is_sanal
0,94230288,9000,21.0,2.0,0,E,7.0,1983.0,787714605562415,2020-12-07,2.012076e+16,0.0
1,94230288,9000,21.0,2.0,0,E,7.0,1983.0,787714605562415,2020-12-09,2.012096e+16,0.0
2,94230288,9000,21.0,2.0,0,E,7.0,1983.0,787714605562415,2020-12-10,2.012104e+16,0.0
3,94230288,9000,21.0,2.0,0,E,7.0,1983.0,787714605562415,2020-12-11,2.012114e+16,0.0
4,94230288,9000,21.0,2.0,0,E,7.0,1983.0,787714605562415,2020-12-13,2.012136e+16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
398455,13781030,9004,66.0,6.0,0,E,54.0,1981.0,6687324629560519,2021-11-12,2.111123e+16,1.0
398456,13781030,9004,66.0,6.0,0,E,54.0,1981.0,6687324629560519,2021-11-13,2.111135e+16,0.0
398457,13781030,9004,66.0,6.0,0,E,54.0,1981.0,6687324629560519,2021-11-24,2.111247e+16,0.0
398458,96703898,9017,15.0,1.0,0,E,34.0,1993.0,1587944647562115,2021-01-12,2.101126e+16,0.0
398459,96703898,9017,15.0,1.0,0,E,34.0,1993.0,1587944647562115,2021-09-01,2.109011e+16,0.0

In [57]:
test_customer = pd.merge(test, customer, how="left")
test_customer_customeraccount = pd.merge(test_customer, customeraccount, how="left")
test_customer_customeraccount_transactionheader =  pd.merge(test_customer_customeraccount, transaction_header, how="left")
test_customer_customeraccount_transactionheader

,individualnumber,category_number,hakkedis_amt,odul_amt,gender,city_code,dateofbirth,cardnumber,date_of_transaction,basketid,is_sanal
0,95812936,9029,38.0,3.0,E,10.0,1995.0,987444691569515,2021-05-17,2.105175e+16,0.0
1,95812936,9029,38.0,3.0,E,10.0,1995.0,987444691569515,2021-06-28,2.106286e+16,0.0
2,95812936,9029,38.0,3.0,E,10.0,1995.0,987444691569515,2021-07-31,2.107316e+16,0.0
3,95812936,9029,38.0,3.0,E,10.0,1995.0,987444691569515,2021-08-01,2.108016e+16,0.0
4,23929570,9012,28.0,2.0,E,34.0,1974.0,5687824656560416,2020-12-20,2.012203e+16,0.0
...,...,...,...,...,...,...,...,...,...,...,...
398016,98792801,9008,20.0,2.0,E,NaN,1980.0,1587664678560719,2021-10-12,2.110124e+16,0.0
398017,98792801,9008,20.0,2.0,E,NaN,1980.0,1587664678560719,2021-10-16,2.110165e+16,0.0
398018,98792801,9008,20.0,2.0,E,NaN,1980.0,1587664678560719,2021-10-23,2.110235e+16,0.0
398019,98792801,9008,20.0,2.0,E,NaN,1980.0,1587664678560719,2021-11-01,2.111014e+16,0.0
398020,98792801,9008,20.0,2.0,E,NaN,1980.0,1587664678560719,2021-11-20,2.111205e+16,0.0

In [58]:
train_data = train_customer_customeraccount_transactionheader
test_data = test_customer_customeraccount_transactionheader

In [59]:
s = setup(data = train_data, 
            target = 'response', 
            experiment_name = 'migros',
            fold = 5,
            use_gpu = False,
            normalize = True,
            pca = False,
            remove_outliers = False,
            remove_multicollinearity = True,
            feature_selection = False,
            fix_imbalance = True,
            )

In [60]:
best_models = compare_models(sort="F1", n_select = 3, fold = 5)

Processing:   0%|          | 0/71 [00:00<?, ?it/s]

In [61]:
#best_model = best_models[0]
best_model = create_model("lightgbm")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [62]:
tuned_model = tune_model(best_model, optimize = "F1", n_iter = 2, search_library = 'optuna', choose_better = True)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

[I 2022-12-09 00:12:14,763] Searching the best hyperparameters using 278921 samples...
[I 2022-12-09 00:14:17,421] Finished hyperparemeter search!

In [63]:
# default model
print(best_model)

# tuned model
print(tuned_model)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=2216, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
LGBMClassifier(bagging_fraction=0.43108269066022686, bagging_freq=4,
               boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               feature_fraction=0.6062716726697401, importance_type='split',
               learning_rate=1.2930781077082894e-06, max_depth=-1,
               min_child_samples=37, min_child_weight=0.001,
               min_split_gain=0.7222950751522884, n_estimators=79, n_jobs=-1,
               num_leaves=239, objective=None, random_state=2216,
               reg_alpha=0.7559583974431131, reg_lambda=4.674067993061168e-09,
               silent='warn', subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [64]:
final_model = finalize_model(tuned_model)

In [69]:
prediction_df = predict_model(final_model, data = test_data)

In [90]:
df = prediction_df.groupby(['individualnumber'])['Label'].agg(pd.Series.mode)

0         13146
1            85
[0, 1]        1
[0, 1]        1
[0, 1]        1
[0, 1]        1
[0, 1]        1
Name: Label, dtype: int64

In [110]:
for i in range(len(df)):
    if type(df.iloc[i]) != np.int32:
        df.iloc[i] = df.iloc[i][1]

In [116]:
submission = pd.DataFrame({"individualnumber":test["individualnumber"]})
submission["response"] = list(df)
submission

       individualnumber  response
0              95812936         0
1              23929570         0
2              95948115         0
3             100898513         0
4              12769156         0
...                 ...       ...
13231          93418529         0
13232          97397069         0
13233          95212479         0
13234          93406449         0
13235          98792801         0

[13236 rows x 2 columns]

In [117]:
submission.to_csv(f"submission/Submission-{time.strftime('%d - %H-%M-%S')}.csv", index=False)