In [1]:
import time
import pandas as pd
import numpy as np
from pycaret.classification import *
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
%load_ext jupyternotify

In [2]:
train = pd.read_csv("data/train.csv")
train.head()

   individualnumber  category_number  hakkedis_amt  odul_amt  response
0          94230288             9000          21.0       2.0         0
1           4684087             9000          17.0       1.0         0
2          92472145             9058          24.0       3.0         0
3          88026681             9030          22.0       2.0         0
4          98127795             9001          38.0       3.0         0

In [3]:
print(train.info(memory_usage = "deep"), end = "\n\n")
print(train.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13115 entries, 0 to 13114
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  13115 non-null  int64
 1   category_number   13115 non-null  int64
 2   hakkedis_amt      13115 non-null  float64
 3   odul_amt          13115 non-null  float64
 4   response          13115 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 512.4 KB
None

       individualnumber  category_number  hakkedis_amt      odul_amt  \
count      1.311500e+04     13115.000000  13115.000000  13115.000000
mean       9.020365e+07      9029.460389     40.054213      3.679832
std        2.100606e+07        17.724430     25.839057      2.675766
min        4.524800e+05      9000.000000      7.000000      1.000000
25%        9.348096e+07      9017.000000     20.000000      2.000000
50%        9.636461e+07      9032.000000     32.000000      3.000000
75%        9.944176e+07      9046.000000     54.000000      5.000000
max        1.022808e+08      9061.000000    180.000000     20.000000

           response
count  13115.000000
mean       0.015936
std        0.125233
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [4]:
train["category_number"] = train.category_number.astype(np.int16)
train["hakkedis_amt"] = train.hakkedis_amt.astype(np.int8)
train["odul_amt"] = train.odul_amt.astype(np.int8)
train["response"] = train.response.astype(bool)

In [5]:
train.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13115 entries, 0 to 13114
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  13115 non-null  int64
 1   category_number   13115 non-null  int16
 2   hakkedis_amt      13115 non-null  int8
 3   odul_amt          13115 non-null  int8
 4   response          13115 non-null  bool
dtypes: bool(1), int16(1), int64(1), int8(2)
memory usage: 166.6 KB

In [6]:
test = pd.read_csv("data/test.csv")
test.head()

   individualnumber  category_number  hakkedis_amt  odul_amt
0          95812936             9029          38.0       3.0
1          23929570             9012          28.0       2.0
2          95948115             9019          21.0       2.0
3         100898513             9035          48.0       4.0
4          12769156             9015          26.0       3.0

In [7]:
print(test.info(memory_usage = "deep"), end = "\n\n")
print(test.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13236 entries, 0 to 13235
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  13236 non-null  int64
 1   category_number   13236 non-null  int64
 2   hakkedis_amt      13236 non-null  float64
 3   odul_amt          13236 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 413.8 KB
None

       individualnumber  category_number  hakkedis_amt      odul_amt
count      1.323600e+04     13236.000000  13236.000000  13236.000000
mean       9.012971e+07      9029.709882     40.258008      3.701647
std        2.105856e+07        17.852512     25.616329      2.643206
min        3.564110e+05      9000.000000      7.000000      1.000000
25%        9.346820e+07      9017.000000     21.000000      2.000000
50%        9.634473e+07      9035.000000     32.000000      3.000000
75%        9.939407e+07      9046.000000     55.000000      5.000000
max        1.022819e+08      9061.000000    180.000000     20.000000

In [8]:
test["category_number"] = test.category_number.astype(np.int16)
test["hakkedis_amt"] = test.hakkedis_amt.astype(np.int8)
test["odul_amt"] = test.odul_amt.astype(np.int8)

In [9]:
test.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13236 entries, 0 to 13235
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  13236 non-null  int64
 1   category_number   13236 non-null  int16
 2   hakkedis_amt      13236 non-null  int8
 3   odul_amt          13236 non-null  int8
dtypes: int16(1), int64(1), int8(2)
memory usage: 155.2 KB

In [10]:
customer = pd.read_csv("data/customer.csv")
customer.head()

   individualnumber gender  city_code  dateofbirth
0          94212124      K        NaN       1946.0
1          96387515      E       34.0       1974.0
2          95040383      E       80.0       1980.0
3          94694434      E        NaN       1970.0
4          47648671      E       35.0       1963.0

In [11]:
print(customer.info(memory_usage = "deep"), end = "\n\n")
print(customer.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28593 entries, 0 to 28592
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  28593 non-null  int64
 1   gender            28588 non-null  object
 2   city_code         21886 non-null  float64
 3   dateofbirth       28578 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.2 MB
None

       individualnumber     city_code   dateofbirth
count      2.859300e+04  21886.000000  28578.000000
mean       8.889905e+07     31.404597   1979.989013
std        2.263223e+07     18.126084     13.892713
min        3.069000e+04      1.000000   1920.000000
25%        9.312489e+07     16.000000   1971.000000
50%        9.610546e+07     34.000000   1982.000000
75%        9.929588e+07     39.000000   1991.000000
max        1.022819e+08     99.000000   2049.000000

In [12]:
customer["gender"].fillna("Unknown", inplace=True)
customer["city_code"].fillna(-1, inplace=True)
customer["dateofbirth"].fillna(-1, inplace=True)

customer["gender"] = customer.gender.astype("category")
customer["city_code"] = customer.city_code.astype(np.int8)
customer["dateofbirth"] = customer.dateofbirth.astype(np.int16)

In [13]:
customer.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28593 entries, 0 to 28592
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  28593 non-null  int64
 1   gender            28593 non-null  category
 2   city_code         28593 non-null  int8
 3   dateofbirth       28593 non-null  int16
dtypes: category(1), int16(1), int64(1), int8(1)
memory usage: 335.5 KB

In [14]:
customeraccount = pd.read_csv("data/customeraccount.csv")
customeraccount.head()

   individualnumber        cardnumber
0          16481068  7287134635560315
1          17634947  6587004647560415
2          19323290  8187034648564315
3          19323290  3005502487247749
4          37820213  6287114610560316

In [15]:
print(customeraccount.info(memory_usage = "deep"), end = "\n\n")
print(customeraccount.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35159 entries, 0 to 35158
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   individualnumber  35159 non-null  int64
 1   cardnumber        35159 non-null  int64
dtypes: int64(2)
memory usage: 549.5 KB
None

       individualnumber    cardnumber
count      3.515900e+04  3.515900e+04
mean       8.596784e+07  5.060966e+15
std        2.551412e+07  2.892552e+15
min        3.069000e+04  5.142451e+12
25%        9.119093e+07  2.487975e+15
50%        9.532850e+07  5.087515e+15
75%        9.880344e+07  7.587290e+15
max        1.022819e+08  9.997905e+15

In [16]:
genel_kategoriler = pd.read_csv("data/genel_kategoriler.csv")
genel_kategoriler.head()

   category_number genel_kategori
0             9052          diger
1             9053          diger
2             9054          diger
3             9055           gida
4             9056           gida

In [17]:
print(genel_kategoriler.info(memory_usage = "deep"), end = "\n\n")
print(genel_kategoriler.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   category_number  50 non-null     int64
 1   genel_kategori   50 non-null     object
dtypes: int64(1), object(1)
memory usage: 3.6 KB
None

       category_number
count        50.000000
mean       9030.280000
std          18.982312
min        9000.000000
25%        9012.750000
50%        9030.500000
75%        9045.500000
max        9061.000000

In [18]:
genel_kategoriler["category_number"] = genel_kategoriler.category_number.astype(np.int16)
genel_kategoriler["genel_kategori"] = genel_kategoriler.genel_kategori.astype("category")

In [19]:
print(genel_kategoriler.info(memory_usage = "deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   category_number  50 non-null     int16
 1   genel_kategori   50 non-null     category
dtypes: category(1), int16(1)
memory usage: 769.0 bytes
None

In [20]:
product_groups = pd.read_csv("data/product_groups.csv")
product_groups.head()

,category_number,category_level_1,category_level_2,category_level_3,category_level_4
0,9046,341,20,10,10
1,9009,125,25,10,10
2,9049,410,65,20,10
3,9019,300,10,19,11
4,9035,305,31,10,10

In [21]:
print(product_groups.info(memory_usage = "deep"), end = "\n\n")
print(product_groups.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3913 entries, 0 to 3912
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category_number   3913 non-null   int64
 1   category_level_1  3913 non-null   int64
 2   category_level_2  3913 non-null   int64
 3   category_level_3  3913 non-null   int64
 4   category_level_4  3913 non-null   int64
dtypes: int64(5)
memory usage: 153.0 KB
None

       category_number  category_level_1  category_level_2  category_level_3  \
count      3913.000000       3913.000000       3913.000000       3913.000000
mean       9039.557117        403.936366         33.910043         20.940710
std          15.933235        173.287947         21.470305         14.803556
min        9000.000000        103.000000         10.000000         10.000000
25%        9035.000000        300.000000         15.000000         11.000000
50%        9044.000000        400.000000         30.000000         15.000000
75%        9049.000000        616.000000         50.000000         25.000000
max        9061.000000        696.000000         96.000000         90.000000

       category_level_4
count       3913.000000
mean          19.811653
std           13.929932
min            1.000000
25%           11.000000
50%           15.000000
75%           25.000000
max           99.000000

In [22]:
product_groups["category_number"] = product_groups.category_number.astype(np.int16)
product_groups["category_level_1"] = product_groups.category_level_1.astype(np.int16)
product_groups["category_level_2"] = product_groups.category_level_2.astype(np.int8)
product_groups["category_level_3"] = product_groups.category_level_3.astype(np.int8)
product_groups["category_level_4"] = product_groups.category_level_4.astype(np.int8)

In [23]:
print(product_groups.info(memory_usage = "deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3913 entries, 0 to 3912
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category_number   3913 non-null   int16
 1   category_level_1  3913 non-null   int16
 2   category_level_2  3913 non-null   int8
 3   category_level_3  3913 non-null   int8
 4   category_level_4  3913 non-null   int8
dtypes: int16(2), int8(3)
memory usage: 26.9 KB
None

In [24]:
transaction_header = pd.read_csv("data/transaction_header.csv")
transaction_header.head()

  date_of_transaction        cardnumber           basketid  is_sanal
0          2020-12-01  8487374630565615  20120163990041163         0
1          2020-12-01  4287574603569015  20120163990016137         0
2          2020-12-01  6487154648560315  20120160080017338         0
3          2020-12-01  3787564693563915  20120163570105022         0
4          2020-12-01  9087994683569715  20120162340016645         0

In [25]:
print(transaction_header.info(memory_usage = "deep"), end = "\n\n")
print(transaction_header.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124673 entries, 0 to 1124672
Data columns (total 4 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   date_of_transaction  1124673 non-null  object
 1   cardnumber           1124673 non-null  int64
 2   basketid             1124673 non-null  int64
 3   is_sanal             1124673 non-null  int64
dtypes: int64(3), object(1)
memory usage: 97.6 MB
None

         cardnumber      basketid      is_sanal
count  1.124673e+06  1.124673e+06  1.124673e+06
mean   5.020189e+15  2.098942e+16  8.916192e-02
std    2.877028e+15  2.547185e+14  2.849774e-01
min    5.142451e+12  2.012010e+16  0.000000e+00
25%    2.487685e+15  2.103063e+16  0.000000e+00
50%    4.987885e+15  2.106096e+16  0.000000e+00
75%    7.487545e+15  2.109063e+16  0.000000e+00
max    9.997905e+15  2.112017e+16  1.000000e+00

In [26]:
transaction_header["date_of_transaction"] = transaction_header.date_of_transaction.astype("category")
transaction_header["is_sanal"] = transaction_header.is_sanal.astype(np.int8)

In [27]:
print(transaction_header.info(memory_usage = "deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124673 entries, 0 to 1124672
Data columns (total 4 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   date_of_transaction  1124673 non-null  category
 1   cardnumber           1124673 non-null  int64
 2   basketid             1124673 non-null  int64
 3   is_sanal             1124673 non-null  int8
dtypes: category(1), int64(2), int8(1)
memory usage: 20.4 MB
None

In [28]:
transaction_sale = pd.read_csv("data/transaction_sale.csv")
transaction_sale.rename(columns = {'category_level_1':'ts_category_level_1', 'category_level_2':'ts_category_level_2',
                                  'category_level_3':'ts_category_level_3', 'category_level_4':'ts_category_level_4',}, 
                        inplace = True)
transaction_sale.head()

,basketid,ts_category_level_1,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3
0,20120706070177471,613,50,50,15,19.9,2.0,NaN,0.0,0.0
1,20120706070177471,425,30,12,10,3.5,1.0,NaN,0.0,0.0
2,20120706070177471,425,30,12,11,7.9,1.0,NaN,0.0,0.0
3,20122703940031323,103,25,15,10,7.9,2.0,NaN,0.0,0.0
4,20122703940031323,101,15,15,15,16.0,1.0,NaN,0.0,0.0

In [29]:
print(transaction_sale.info(memory_usage = "deep"), end = "\n\n")
print(transaction_sale.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6537881 entries, 0 to 6537880
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   basketid             int64
 1   ts_category_level_1  int64
 2   ts_category_level_2  int64
 3   ts_category_level_3  int64
 4   ts_category_level_4  int64
 5   amount               float64
 6   quantity             float64
 7   discount_type_1      float64
 8   discount_type_2      float64
 9   discount_type_3      float64
dtypes: float64(5), int64(5)
memory usage: 498.8 MB
None

           basketid  ts_category_level_1  ts_category_level_2  \
count  6.537881e+06         6.537881e+06         6.537881e+06
mean   2.097883e+16         2.725235e+02         3.162734e+01
std    2.688257e+14         1.653118e+02         2.242084e+01
min    2.012010e+16         1.000000e+02         1.000000e+00
25%    2.103024e+16         1.300000e+02         1.500000e+01
50%    2.106014e+16         2.200000e+02         2.500000e+01
75%    2.109014e+16         3.300000e+02         4.000000e+01
max    2.112017e+16         9.990000e+02         9.990000e+02

       ts_category_level_3  ts_category_level_4        amount      quantity  \
count         6.537881e+06         6.537881e+06  6.537881e+06  6.537881e+06
mean          1.638063e+01         1.748224e+01  1.678373e+01  1.369372e+00
std           9.764501e+00         9.995020e+00  4.810842e+01  1.639792e+00
min           1.000000e+00         1.000000e+00 -8.150400e+03 -9.600000e+01
25%           1.000000e+01         1.000000e+01  4.750000e+00  1.000000e+00
50%           1.300000e+01         1.500000e+01  9.280000e+00  1.000000e+00
75%           2.000000e+01         2.000000e+01  1.883000e+01  1.012000e+00
max           9.990000e+02         9.990000e+02  2.433675e+04  6.000000e+02

       discount_type_1  discount_type_2  discount_type_3
count     1.889008e+06     6.537751e+06     6.537753e+06
mean      2.143040e+00     5.479906e-01     1.031550e+00
std       5.657074e+00     4.138239e+00     6.440188e+00
min      -5.220884e-04    -1.869100e+02    -2.400000e+02
25%       2.559020e-01     0.000000e+00     0.000000e+00
50%       7.225458e-01     0.000000e+00     0.000000e+00
75%       1.993273e+00     0.000000e+00     0.000000e+00
max       1.218160e+03     1.200000e+03     2.735280e+03

In [30]:
transaction_sale["ts_category_level_1"] = transaction_sale.ts_category_level_1.astype(np.int16)
transaction_sale["ts_category_level_2"] = transaction_sale.ts_category_level_2.astype(np.int16)
transaction_sale["ts_category_level_3"] = transaction_sale.ts_category_level_3.astype(np.int16)
transaction_sale["ts_category_level_4"] = transaction_sale.ts_category_level_4.astype(np.int16)
transaction_sale["amount"] = transaction_sale.amount.astype(np.float16)
transaction_sale["quantity"] = transaction_sale.quantity.astype(np.float16)
transaction_sale["discount_type_1"] = transaction_sale.discount_type_1.astype(np.float16)
transaction_sale["discount_type_2"] = transaction_sale.discount_type_2.astype(np.float16)
transaction_sale["discount_type_3"] = transaction_sale.discount_type_3.astype(np.float16)

In [31]:
print(transaction_sale.info(memory_usage = "deep"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6537881 entries, 0 to 6537880
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   basketid             int64
 1   ts_category_level_1  int16
 2   ts_category_level_2  int16
 3   ts_category_level_3  int16
 4   ts_category_level_4  int16
 5   amount               float16
 6   quantity             float16
 7   discount_type_1      float16
 8   discount_type_2      float16
 9   discount_type_3      float16
dtypes: float16(5), int16(4), int64(1)
memory usage: 162.1 MB
None

In [32]:
%%notify

train_customer = pd.merge(train, customer, how="left")
train_customer_customeraccount = pd.merge(train_customer, customeraccount, how="left")
train_customer_customeraccount_genelkategoriler =  pd.merge(train_customer_customeraccount, genel_kategoriler, how="left")
train_customer_customeraccount_genelkategoriler_productgroups =  pd.merge(train_customer_customeraccount_genelkategoriler, product_groups, how="left")
train_customer_customeraccount_genelkategoriler_productgroups_transactionheader =  pd.merge(train_customer_customeraccount_genelkategoriler_productgroups, transaction_header, how="left")
train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale =  pd.merge(train_customer_customeraccount_genelkategoriler_productgroups_transactionheader, transaction_sale, how="left")


train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.head()

,individualnumber,category_number,hakkedis_amt,odul_amt,response,gender,city_code,dateofbirth,cardnumber,genel_kategori,category_level_1,category_level_2,category_level_3,category_level_4,date_of_transaction,basketid,is_sanal,ts_category_level_1,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3
0,94230288,9000,21,2,False,E,7,1983,787714605562415,icecek,603,25,10,10,2020-12-07,2.012076e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,94230288,9000,21,2,False,E,7,1983,787714605562415,icecek,603,25,10,10,2020-12-09,2.012096e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,94230288,9000,21,2,False,E,7,1983,787714605562415,icecek,603,25,10,10,2020-12-10,2.012104e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,94230288,9000,21,2,False,E,7,1983,787714605562415,icecek,603,25,10,10,2020-12-11,2.012114e+16,0.0,420.0,45.0,10.0,28.0,15.898438,1.0,NaN,0.0,0.0
4,94230288,9000,21,2,False,E,7,1983,787714605562415,icecek,603,25,10,10,2020-12-11,2.012114e+16,0.0,110.0,20.0,25.0,10.0,3.949219,1.0,NaN,0.0,0.0

In [33]:
%%notify

test_customer = pd.merge(test, customer, how="left")
test_customer_customeraccount = pd.merge(test_customer, customeraccount, how="left")
test_customer_customeraccount_genelkategoriler =  pd.merge(test_customer_customeraccount, genel_kategoriler, how="left")
test_customer_customeraccount_genelkategoriler_productgroups =  pd.merge(test_customer_customeraccount_genelkategoriler, product_groups, how="left")
test_customer_customeraccount_genelkategoriler_productgroups_transactionheader =  pd.merge(test_customer_customeraccount_genelkategoriler_productgroups, transaction_header, how="left")
test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale =  pd.merge(test_customer_customeraccount_genelkategoriler_productgroups_transactionheader, transaction_sale, how="left")


test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.head()

,individualnumber,category_number,hakkedis_amt,odul_amt,gender,city_code,dateofbirth,cardnumber,genel_kategori,category_level_1,category_level_2,category_level_3,category_level_4,date_of_transaction,basketid,is_sanal,ts_category_level_1,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3
0,95812936,9029,38,3,E,10,1995,987444691569515,kisisel_bakim,628,15,10,35,2021-05-17,2.105175e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,95812936,9029,38,3,E,10,1995,987444691569515,kisisel_bakim,628,15,10,35,2021-06-28,2.106286e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95812936,9029,38,3,E,10,1995,987444691569515,kisisel_bakim,628,15,10,35,2021-07-31,2.107316e+16,0.0,410.0,30.0,10.0,1.0,7.500000,1.0,0.893066,0.0,0.0
3,95812936,9029,38,3,E,10,1995,987444691569515,kisisel_bakim,628,15,10,35,2021-07-31,2.107316e+16,0.0,205.0,15.0,10.0,20.0,5.898438,1.0,0.702148,0.0,0.0
4,95812936,9029,38,3,E,10,1995,987444691569515,kisisel_bakim,628,15,10,35,2021-07-31,2.107316e+16,0.0,103.0,25.0,35.0,10.0,53.812500,4.0,6.406250,0.0,0.0

In [34]:
train_all_merged = train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale
test_all_merged = test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale

In [35]:
train_data = train_all_merged
test_data = test_all_merged

In [ ]:
%%notify

s = setup(data = train_data, 
          target = 'response', 
          experiment_name = 'migros',
          fold = 5,
          use_gpu = True,
          normalize = True,
          pca = False,
          remove_outliers = False,
          remove_multicollinearity = True,
          feature_selection = False,
          fix_imbalance = True,
          )

In [ ]:
%%notify

best_models = compare_models(sort="F1", n_select = 5, fold = 5, turbo = True)

In [ ]:
%%notify

best_model = best_models[0]
#best_model = create_model("rf")

In [ ]:
%%notify

tuned_model = tune_model(best_model, optimize = "F1", n_iter = 50, search_library = 'optuna', choose_better = True, 
                         early_stopping=True)

In [ ]:
# default model
print(best_model)

# tuned model
print(tuned_model)

In [ ]:
%%notify

final_model = finalize_model(tuned_model)

In [ ]:
%%notify

prediction_df = predict_model(final_model, data = test_data)

In [ ]:
df = prediction_df.groupby(['individualnumber'])['Label'].agg(pd.Series.mean)

In [ ]:
df = df.round(0)

In [ ]:
df.round(0).value_counts()

In [ ]:
submission = pd.DataFrame({"individualnumber":test["individualnumber"].sort_values(ascending=True)})
submission["response"] = list(df.astype(int))
submission

In [ ]:
submission.to_csv(f"submission/Submission-{time.strftime('%d - %H-%M-%S')}.csv", index=False)