In [1]:
import time
import pandas as pd
import numpy as np
import optuna
from pycaret.classification import *
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
%load_ext jupyternotify

In [2]:
import sys 
print(sys.version)

3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 18:58:18) [MSC v.1900 64 bit (AMD64)]

# READ ALL THE DATA

In [3]:
train = pd.read_csv("data/train.csv")
train.head()

   individualnumber  category_number  hakkedis_amt  odul_amt  response
0          94230288             9000          21.0       2.0         0
1           4684087             9000          17.0       1.0         0
2          92472145             9058          24.0       3.0         0
3          88026681             9030          22.0       2.0         0
4          98127795             9001          38.0       3.0         0

In [4]:
test = pd.read_csv("data/test.csv")
test.head()

   individualnumber  category_number  hakkedis_amt  odul_amt
0          95812936             9029          38.0       3.0
1          23929570             9012          28.0       2.0
2          95948115             9019          21.0       2.0
3         100898513             9035          48.0       4.0
4          12769156             9015          26.0       3.0

In [5]:
customer = pd.read_csv("data/customer.csv")
customer.head()

   individualnumber gender  city_code  dateofbirth
0          94212124      K        NaN       1946.0
1          96387515      E       34.0       1974.0
2          95040383      E       80.0       1980.0
3          94694434      E        NaN       1970.0
4          47648671      E       35.0       1963.0

In [6]:
customeraccount = pd.read_csv("data/customeraccount.csv")
customeraccount.head()

   individualnumber        cardnumber
0          16481068  7287134635560315
1          17634947  6587004647560415
2          19323290  8187034648564315
3          19323290  3005502487247749
4          37820213  6287114610560316

In [7]:
genel_kategoriler = pd.read_csv("data/genel_kategoriler.csv")
genel_kategoriler.head()

   category_number genel_kategori
0             9052          diger
1             9053          diger
2             9054          diger
3             9055           gida
4             9056           gida

In [8]:
product_groups = pd.read_csv("data/product_groups.csv")
product_groups.head()

,category_number,category_level_1,category_level_2,category_level_3,category_level_4
0,9046,341,20,10,10
1,9009,125,25,10,10
2,9049,410,65,20,10
3,9019,300,10,19,11
4,9035,305,31,10,10

In [9]:
transaction_header = pd.read_csv("data/transaction_header.csv")
transaction_header['date_of_transaction'] = pd.to_datetime(transaction_header['date_of_transaction']).dt.strftime('%d/%m/%Y')
transaction_header = transaction_header[transaction_header['date_of_transaction'].notna()]
transaction_header.head()

  date_of_transaction        cardnumber           basketid  is_sanal
0          01/12/2020  8487374630565615  20120163990041163         0
1          01/12/2020  4287574603569015  20120163990016137         0
2          01/12/2020  6487154648560315  20120160080017338         0
3          01/12/2020  3787564693563915  20120163570105022         0
4          01/12/2020  9087994683569715  20120162340016645         0

In [10]:
transaction_sale = pd.read_csv("data/transaction_sale.csv")
transaction_sale.rename(columns = {'category_level_1':'ts_category_level_1', 'category_level_2':'ts_category_level_2',
                                  'category_level_3':'ts_category_level_3', 'category_level_4':'ts_category_level_4',}, 
                        inplace = True)
transaction_sale.head()

,basketid,ts_category_level_1,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3
0,20120706070177471,613,50,50,15,19.9,2.0,NaN,0.0,0.0
1,20120706070177471,425,30,12,10,3.5,1.0,NaN,0.0,0.0
2,20120706070177471,425,30,12,11,7.9,1.0,NaN,0.0,0.0
3,20122703940031323,103,25,15,10,7.9,2.0,NaN,0.0,0.0
4,20122703940031323,101,15,15,15,16.0,1.0,NaN,0.0,0.0

# OPTIMIZE MEMORY USAGE FOR DATAFRAMES

In [ ]:
print(train.info(memory_usage = "deep"), end = "\n\n")
print(train.describe())

In [ ]:
train["category_number"] = train.category_number.astype(np.int16)
train["hakkedis_amt"] = train.hakkedis_amt.astype(np.int8)
train["odul_amt"] = train.odul_amt.astype(np.int8)
train["response"] = train.response.astype(bool)

In [ ]:
train.info(memory_usage = "deep")

In [ ]:
print(test.info(memory_usage = "deep"), end = "\n\n")
print(test.describe())

In [ ]:
test["category_number"] = test.category_number.astype(np.int16)
test["hakkedis_amt"] = test.hakkedis_amt.astype(np.int8)
test["odul_amt"] = test.odul_amt.astype(np.int8)

In [ ]:
test.info(memory_usage = "deep")

In [ ]:
print(customer.info(memory_usage = "deep"), end = "\n\n")
print(customer.describe())

In [ ]:
customer["gender"].fillna("Unknown", inplace=True)
customer["city_code"].fillna(-1, inplace=True)
customer["dateofbirth"].fillna(-1, inplace=True)

customer["gender"] = customer.gender.astype("category")
customer["city_code"] = customer.city_code.astype(np.int8)
customer["dateofbirth"] = customer.dateofbirth.astype(np.int16)

In [ ]:
customer.info(memory_usage = "deep")

In [ ]:
print(customeraccount.info(memory_usage = "deep"), end = "\n\n")
print(customeraccount.describe())

In [ ]:
print(genel_kategoriler.info(memory_usage = "deep"), end = "\n\n")
print(genel_kategoriler.describe())

In [ ]:
genel_kategoriler["category_number"] = genel_kategoriler.category_number.astype(np.int16)
genel_kategoriler["genel_kategori"] = genel_kategoriler.genel_kategori.astype("category")

In [ ]:
print(genel_kategoriler.info(memory_usage = "deep"))

In [ ]:
print(product_groups.info(memory_usage = "deep"), end = "\n\n")
print(product_groups.describe())

In [ ]:
product_groups["category_number"] = product_groups.category_number.astype(np.int16)
product_groups["category_level_1"] = product_groups.category_level_1.astype(np.int16)
product_groups["category_level_2"] = product_groups.category_level_2.astype(np.int8)
product_groups["category_level_3"] = product_groups.category_level_3.astype(np.int8)
product_groups["category_level_4"] = product_groups.category_level_4.astype(np.int8)

In [ ]:
print(product_groups.info(memory_usage = "deep"))

In [ ]:
print(transaction_header.info(memory_usage = "deep"), end = "\n\n")
print(transaction_header.describe())

In [ ]:
transaction_header["date_of_transaction"] = transaction_header.date_of_transaction.astype("category")
transaction_header["is_sanal"] = transaction_header.is_sanal.astype(np.int8)

In [ ]:
print(transaction_header.info(memory_usage = "deep"))

In [ ]:
print(transaction_sale.info(memory_usage = "deep"), end = "\n\n")
print(transaction_sale.describe())

In [ ]:
transaction_sale["ts_category_level_1"] = transaction_sale.ts_category_level_1.astype(np.int16)
transaction_sale["ts_category_level_2"] = transaction_sale.ts_category_level_2.astype(np.int16)
transaction_sale["ts_category_level_3"] = transaction_sale.ts_category_level_3.astype(np.int16)
transaction_sale["ts_category_level_4"] = transaction_sale.ts_category_level_4.astype(np.int16)
transaction_sale["amount"] = transaction_sale.amount.astype(np.float16)
transaction_sale["quantity"] = transaction_sale.quantity.astype(np.float16)
transaction_sale["discount_type_1"] = transaction_sale.discount_type_1.astype(np.float16)
transaction_sale["discount_type_2"] = transaction_sale.discount_type_2.astype(np.float16)
transaction_sale["discount_type_3"] = transaction_sale.discount_type_3.astype(np.float16)

In [ ]:
print(transaction_sale.info(memory_usage = "deep"))

# MERGE TABLES

In [11]:
%%notify

train_customer = pd.merge(train.drop_duplicates(subset=['individualnumber']), customer, how="left")
train_customer_customeraccount = pd.merge(train_customer.drop_duplicates(subset=['individualnumber']), customeraccount, how="left")
train_customer_customeraccount_genelkategoriler =  pd.merge(train_customer_customeraccount.drop_duplicates(subset=['individualnumber']), genel_kategoriler, how="left")
train_customer_customeraccount_genelkategoriler_productgroups =  pd.merge(train_customer_customeraccount_genelkategoriler.drop_duplicates(subset=['individualnumber']), product_groups, how="left")
train_customer_customeraccount_genelkategoriler_productgroups_transactionheader =  pd.merge(train_customer_customeraccount_genelkategoriler_productgroups.drop_duplicates(subset=['individualnumber']), transaction_header, how="left")
train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale =  pd.merge(train_customer_customeraccount_genelkategoriler_productgroups_transactionheader.drop_duplicates(subset=['individualnumber']), transaction_sale, how="left")

train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.drop("date_of_transaction", axis=1, inplace=True)
train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale = train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.drop_duplicates(subset=['individualnumber'])

train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.head()

,individualnumber,category_number,hakkedis_amt,odul_amt,response,gender,city_code,dateofbirth,cardnumber,genel_kategori,category_level_1,category_level_2,category_level_3,category_level_4,basketid,is_sanal,ts_category_level_1,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3
0,94230288,9000,21.0,2.0,0,E,7.0,1983.0,787714605562415,icecek,603,25,10,10,2.012076e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4684087,9000,17.0,1.0,0,E,19.0,1951.0,9087854623560519,icecek,603,25,10,10,2.101044e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,92472145,9058,24.0,3.0,0,K,35.0,1982.0,4087494610563715,gida,617,55,10,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,88026681,9030,22.0,2.0,0,K,NaN,1961.0,7087024687560515,kisisel_bakim,628,25,10,15,2.012124e+16,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,98127795,9001,38.0,3.0,0,E,9.0,1984.0,9687474690567815,gida,110,10,10,10,2.103226e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
%%notify

test_customer = pd.merge(test.drop_duplicates(subset=['individualnumber']), customer, how="left")
test_customer_customeraccount = pd.merge(test_customer.drop_duplicates(subset=['individualnumber']), customeraccount, how="left")
test_customer_customeraccount_genelkategoriler =  pd.merge(test_customer_customeraccount.drop_duplicates(subset=['individualnumber']), genel_kategoriler, how="left")
test_customer_customeraccount_genelkategoriler_productgroups =  pd.merge(test_customer_customeraccount_genelkategoriler.drop_duplicates(subset=['individualnumber']), product_groups, how="left")
test_customer_customeraccount_genelkategoriler_productgroups_transactionheader =  pd.merge(test_customer_customeraccount_genelkategoriler_productgroups.drop_duplicates(subset=['individualnumber']), transaction_header, how="left")
test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale =  pd.merge(test_customer_customeraccount_genelkategoriler_productgroups_transactionheader.drop_duplicates(subset=['individualnumber']), transaction_sale, how="left")

test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.drop("date_of_transaction", axis=1, inplace=True)
test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale = test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.drop_duplicates(subset=['individualnumber'])

test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.head()

,individualnumber,category_number,hakkedis_amt,odul_amt,gender,city_code,dateofbirth,cardnumber,genel_kategori,category_level_1,category_level_2,category_level_3,category_level_4,basketid,is_sanal,ts_category_level_1,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3
0,95812936,9029,38.0,3.0,E,10.0,1995.0,987444691569515,kisisel_bakim,628,15,10,35,2.105175e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23929570,9012,28.0,2.0,E,34.0,1974.0,5687824656560416,gida,617,65,10,10,2.012203e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95948115,9019,21.0,2.0,E,67.0,1967.0,5687474662560115,gida,300,10,19,11,2.101226e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100898513,9035,48.0,4.0,K,51.0,1978.0,8187204608568215,gida,305,31,10,10,2.104027e+16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12769156,9015,26.0,3.0,K,34.0,1970.0,4787834626560515,gida,616,80,15,15,2.012011e+16,0.0,311.0,15.0,10.0,20.0,13.53,0.68,NaN,2.04,0.0

In [13]:
train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.shape

(13115, 25)

In [14]:
test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale.shape

(13236, 24)

In [15]:
train_all_merged = train_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale
test_all_merged = test_customer_customeraccount_genelkategoriler_productgroups_transactionheader_transactionsale

In [16]:
train_data = train_all_merged
test_data = test_all_merged

In [73]:
%%notify

s = setup(data = train_data, 
          target = 'response', 
          experiment_name = 'migros',
          data_split_stratify = True,
          fold = 10,
          use_gpu = True,
          normalize = True,
          pca = False,
          remove_outliers = True,
          remove_multicollinearity = True,
          feature_selection = True,
          #feature_selection_method = "boruta",
          fix_imbalance = True,
          silent = True,
          )

In [61]:
help(setup)

Help on function setup in module pycaret.classification:

setup(data: pandas.core.frame.DataFrame, target: str, train_size: float = 0.7, test_data: Union[pandas.core.frame.DataFrame, NoneType] = None, preprocess: bool = True, imputation_type: str = 'simple', iterative_imputation_iters: int = 5, categorical_features: Union[List[str], NoneType] = None, categorical_imputation: str = 'constant', categorical_iterative_imputer: Union[str, Any] = 'lightgbm', ordinal_features: Union[Dict[str, list], NoneType] = None, high_cardinality_features: Union[List[str], NoneType] = None, high_cardinality_method: str = 'frequency', numeric_features: Union[List[str], NoneType] = None, numeric_imputation: str = 'mean', numeric_iterative_imputer: Union[str, Any] = 'lightgbm', date_features: Union[List[str], NoneType] = None, ignore_features: Union[List[str], NoneType] = None, normalize: bool = False, normalize_method: str = 'zscore', transformation: bool = False, transformation_method: str = 'yeo-johnson', handle_unknown_categorical: bool = True, unknown_categorical_method: str = 'least_frequent', pca: bool = False, pca_method: str = 'linear', pca_components: Union[float, NoneType] = None, ignore_low_variance: bool = False, combine_rare_levels: bool = False, rare_level_threshold: float = 0.1, bin_numeric_features: Union[List[str], NoneType] = None, remove_outliers: bool = False, outliers_threshold: float = 0.05, remove_multicollinearity: bool = False, multicollinearity_threshold: float = 0.9, remove_perfect_collinearity: bool = True, create_clusters: bool = False, cluster_iter: int = 20, polynomial_features: bool = False, polynomial_degree: int = 2, trigonometry_features: bool = False, polynomial_threshold: float = 0.1, group_features: Union[List[str], NoneType] = None, group_names: Union[List[str], NoneType] = None, feature_selection: bool = False, feature_selection_threshold: float = 0.8, feature_selection_method: str = 'classic', feature_interaction: bool = False, feature_ratio: bool = False, interaction_threshold: float = 0.01, fix_imbalance: bool = False, fix_imbalance_method: Union[Any, NoneType] = None, data_split_shuffle: bool = True, data_split_stratify: Union[bool, List[str]] = False, fold_strategy: Union[str, Any] = 'stratifiedkfold', fold: int = 10, fold_shuffle: bool = False, fold_groups: Union[str, pandas.core.frame.DataFrame, NoneType] = None, n_jobs: Union[int, NoneType] = -1, use_gpu: bool = False, custom_pipeline: Union[Any, Tuple[str, Any], List[Any], List[Tuple[str, Any]]] = None, html: bool = True, session_id: Union[int, NoneType] = None, log_experiment: bool = False, experiment_name: Union[str, NoneType] = None, log_plots: Union[bool, list] = False, log_profile: bool = False, log_data: bool = False, silent: bool = False, verbose: bool = True, profile: bool = False, profile_kwargs: Dict[str, Any] = None)
    This function initializes the training environment and creates the transformation
    pipeline. Setup function must be called before executing any other function. It takes
    two mandatory parameters: ``data`` and ``target``. All the other parameters are
    optional.

    Example
    -------
    >>> from pycaret.datasets import get_data
    >>> juice = get_data('juice')
    >>> from pycaret.classification import *
    >>> exp_name = setup(data = juice,  target = 'Purchase')


    data: pandas.DataFrame
        Shape (n_samples, n_features), where n_samples is the number of samples and
        n_features is the number of features.


    target: str
        Name of the target column to be passed in as a string. The target variable can
        be either binary or multiclass.


    train_size: float, default = 0.7
        Proportion of the dataset to be used for training and validation. Should be
        between 0.0 and 1.0.


    test_data: pandas.DataFrame, default = None
        If not None, test_data is used as a hold-out set and ``train_size`` parameter is
        ignored. test_data must be labelled and the shape of data and test_data must
        match.


    preprocess: bool, default = True
        When set to False, no transformations are applied except for train_test_split
        and custom transformations passed in ``custom_pipeline`` param. Data must be
        ready for modeling (no missing values, no dates, categorical data encoding),
        when preprocess is set to False.


    imputation_type: str, default = 'simple'
        The type of imputation to use. Can be either 'simple' or 'iterative'.


    iterative_imputation_iters: int, default = 5
        Number of iterations. Ignored when ``imputation_type`` is not 'iterative'.


    categorical_features: list of str, default = None
        If the inferred data types are not correct or the silent param is set to True,
        categorical_features param can be used to overwrite or define the data types.
        It takes a list of strings with column names that are categorical.


    categorical_imputation: str, default = 'constant'
        Missing values in categorical features are imputed with a constant 'not_available'
        value. The other available option is 'mode'.


    categorical_iterative_imputer: str, default = 'lightgbm'
        Estimator for iterative imputation of missing values in categorical features.
        Ignored when ``imputation_type`` is not 'iterative'.


    ordinal_features: dict, default = None
        Encode categorical features as ordinal. For example, a categorical feature with
        'low', 'medium', 'high' values where low < medium < high can be passed as
        ordinal_features = { 'column_name' : ['low', 'medium', 'high'] }.


    high_cardinality_features: list of str, default = None
        When categorical features contains many levels, it can be compressed into fewer
        levels using this parameter. It takes a list of strings with column names that
        are categorical.


    high_cardinality_method: str, default = 'frequency'
        Categorical features with high cardinality are replaced with the frequency of
        values in each level occurring in the training dataset. Other available method
        is 'clustering' which trains the K-Means clustering algorithm on the statistical
        attribute of the training data and replaces the original value of feature with the
        cluster label. The number of clusters is determined by optimizing Calinski-Harabasz
        and Silhouette criterion.


    numeric_features: list of str, default = None
        If the inferred data types are not correct or the silent param is set to True,
        numeric_features param can be used to overwrite or define the data types.
        It takes a list of strings with column names that are numeric.


    numeric_imputation: str, default = 'mean'
        Missing values in numeric features are imputed with 'mean' value of the feature
        in the training dataset. The other available option is 'median' or 'zero'.


    numeric_iterative_imputer: str, default = 'lightgbm'
        Estimator for iterative imputation of missing values in numeric features.
        Ignored when ``imputation_type`` is set to 'simple'.


    date_features: list of str, default = None
        If the inferred data types are not correct or the silent param is set to True,
        date_features param can be used to overwrite or define the data types. It takes
        a list of strings with column names that are DateTime.


    ignore_features: list of str, default = None
        ignore_features param can be used to ignore features during model training.
        It takes a list of strings with column names that are to be ignored.


    normalize: bool, default = False
        When set to True, it transforms the numeric features by scaling them to a given
        range. Type of scaling is defined by the ``normalize_method`` parameter.


    normalize_method: str, default = 'zscore'
        Defines the method for scaling. By default, normalize method is set to 'zscore'
        The standard zscore is calculated as z = (x - u) / s. Ignored when ``normalize``
        is not True. The other options are:

        - minmax: scales and translates each feature individually such that it is in
          the range of 0 - 1.
        - maxabs: scales and translates each feature individually such that the
          maximal absolute value of each feature will be 1.0. It does not
          shift/center the data, and thus does not destroy any sparsity.
        - robust: scales and translates each feature according to the Interquartile
          range. When the dataset contains outliers, robust scaler often gives
          better results.


    transformation: bool, default = False
        When set to True, it applies the power transform to make data more Gaussian-like.
        Type of transformation is defined by the ``transformation_method`` parameter.


    transformation_method: str, default = 'yeo-johnson'
        Defines the method for transformation. By default, the transformation method is
        set to 'yeo-johnson'. The other available option for transformation is 'quantile'.
        Ignored when ``transformation`` is not True.


    handle_unknown_categorical: bool, default = True
        When set to True, unknown categorical levels in unseen data are replaced by the
        most or least frequent level as learned in the training dataset.


    unknown_categorical_method: str, default = 'least_frequent'
        Method used to replace unknown categorical levels in unseen data. Method can be
        set to 'least_frequent' or 'most_frequent'.


    pca: bool, default = False
        When set to True, dimensionality reduction is applied to project the data into
        a lower dimensional space using the method defined in ``pca_method`` parameter.


    pca_method: str, default = 'linear'
        The 'linear' method performs uses Singular Value  Decomposition. Other options are:

        - kernel: dimensionality reduction through the use of RVF kernel.
        - incremental: replacement for 'linear' pca when the dataset is too large.


    pca_components: int or float, default = None
        Number of components to keep. if pca_components is a float, it is treated as a
        target percentage for information retention. When pca_components is an integer
        it is treated as the number of features to be kept. pca_components must be less
        than the original number of features. Ignored when ``pca`` is not True.


    ignore_low_variance: bool, default = False
        When set to True, all categorical features with insignificant variances are
        removed from the data. The variance is calculated using the ratio of unique
        values to the number of samples, and the ratio of the most common value to the
        frequency of the second most common value.


    combine_rare_levels: bool, default = False
        When set to True, frequency percentile for levels in categorical features below
        a certain threshold is combined into a single level.


    rare_level_threshold: float, default = 0.1
        Percentile distribution below which rare categories are combined. Ignored when
        ``combine_rare_levels`` is not True.


    bin_numeric_features: list of str, default = None
        To convert numeric features into categorical, bin_numeric_features parameter can
        be used. It takes a list of strings with column names to be discretized. It does
        so by using 'sturges' rule to determine the number of clusters and then apply
        KMeans algorithm. Original values of the feature are then replaced by the
        cluster label.


    remove_outliers: bool, default = False
        When set to True, outliers from the training data are removed using the Singular
        Value Decomposition.


    outliers_threshold: float, default = 0.05
        The percentage outliers to be removed from the training dataset. Ignored when
        ``remove_outliers`` is not True.


    remove_multicollinearity: bool, default = False
        When set to True, features with the inter-correlations higher than the defined
        threshold are removed. When two features are highly correlated with each other,
        the feature that is less correlated with the target variable is removed. Only
        considers numeric features.

    multicollinearity_threshold: float, default = 0.9
        Threshold for correlated features. Ignored when ``remove_multicollinearity``
        is not True.


    remove_perfect_collinearity: bool, default = True
        When set to True, perfect collinearity (features with correlation = 1) is removed
        from the dataset, when two features are 100% correlated, one of it is randomly
        removed from the dataset.


    create_clusters: bool, default = False
        When set to True, an additional feature is created in training dataset where each
        instance is assigned to a cluster. The number of clusters is determined by
        optimizing Calinski-Harabasz and Silhouette criterion.


    cluster_iter: int, default = 20
        Number of iterations for creating cluster. Each iteration represents cluster
        size. Ignored when ``create_clusters`` is not True.


    polynomial_features: bool, default = False
        When set to True, new features are derived using existing numeric features.


    polynomial_degree: int, default = 2
        Degree of polynomial features. For example, if an input sample is two dimensional
        and of the form [a, b], the polynomial features with degree = 2 are:
        [1, a, b, a^2, ab, b^2]. Ignored when ``polynomial_features`` is not True.


    trigonometry_features: bool, default = False
        When set to True, new features are derived using existing numeric features.


    polynomial_threshold: float, default = 0.1
        When ``polynomial_features`` or ``trigonometry_features`` is True, new features
        are derived from the existing numeric features. This may sometimes result in too
        large feature space. polynomial_threshold parameter can be used to deal with this
        problem. It does so by using combination of Random Forest, AdaBoost and Linear
        correlation. All derived features that falls within the percentile distribution
        are kept and rest of the features are removed.


    group_features: list or list of list, default = None
        When the dataset contains features with related characteristics, group_features
        parameter can be used for feature extraction. It takes a list of strings with
        column names that are related.


    group_names: list, default = None
        Group names to be used in naming new features. When the length of group_names
        does not match with the length of ``group_features``, new features are named
        sequentially group_1, group_2, etc. It is ignored when ``group_features`` is
        None.


    feature_selection: bool, default = False
        When set to True, a subset of features are selected using a combination of
        various permutation importance techniques including Random Forest, Adaboost
        and Linear correlation with target variable. The size of the subset is
        dependent on the ``feature_selection_threshold`` parameter.


    feature_selection_threshold: float, default = 0.8
        Threshold value used for feature selection. When ``polynomial_features`` or
        ``feature_interaction`` is True, it is recommended to keep the threshold low
        to avoid large feature spaces. Setting a very low value may be efficient but
        could result in under-fitting.


    feature_selection_method: str, default = 'classic'
        Algorithm for feature selection. 'classic' method uses permutation feature
        importance techniques. Other possible value is 'boruta' which uses boruta
        algorithm for feature selection.


    feature_interaction: bool, default = False
        When set to True, new features are created by interacting (a * b) all the
        numeric variables in the dataset. This feature is not scalable and may not
        work as expected on datasets with large feature space.


    feature_ratio: bool, default = False
        When set to True, new features are created by calculating the ratios (a / b)
        between all numeric variables in the dataset. This feature is not scalable and
        may not work as expected on datasets with large feature space.


    interaction_threshold: bool, default = 0.01
        Similar to polynomial_threshold, It is used to compress a sparse matrix of newly
        created features through interaction. Features whose importance based on the
        combination  of  Random Forest, AdaBoost and Linear correlation falls within the
        percentile of the  defined threshold are kept in the dataset. Remaining features
        are dropped before further processing.


    fix_imbalance: bool, default = False
        When training dataset has unequal distribution of target class it can be balanced
        using this parameter. When set to True, SMOTE (Synthetic Minority Over-sampling
        Technique) is applied by default to create synthetic datapoints for minority class.


    fix_imbalance_method: obj, default = None
        When ``fix_imbalance`` is True, 'imblearn' compatible object with 'fit_resample'
        method can be passed. When set to None, 'imblearn.over_sampling.SMOTE' is used.


    data_split_shuffle: bool, default = True
        When set to False, prevents shuffling of rows during 'train_test_split'.


    data_split_stratify: bool or list, default = False
        Controls stratification during 'train_test_split'. When set to True, will
        stratify by target column. To stratify on any other columns, pass a list of
        column names. Ignored when ``data_split_shuffle`` is False.


    fold_strategy: str or sklearn CV generator object, default = 'stratifiedkfold'
        Choice of cross validation strategy. Possible values are:

        * 'kfold'
        * 'stratifiedkfold'
        * 'groupkfold'
        * 'timeseries'
        * a custom CV generator object compatible with scikit-learn.


    fold: int, default = 10
        Number of folds to be used in cross validation. Must be at least 2. This is
        a global setting that can be over-written at function level by using ``fold``
        parameter. Ignored when ``fold_strategy`` is a custom object.


    fold_shuffle: bool, default = False
        Controls the shuffle parameter of CV. Only applicable when ``fold_strategy``
        is 'kfold' or 'stratifiedkfold'. Ignored when ``fold_strategy`` is a custom
        object.


    fold_groups: str or array-like, with shape (n_samples,), default = None
        Optional group labels when 'GroupKFold' is used for the cross validation.
        It takes an array with shape (n_samples, ) where n_samples is the number
        of rows in the training dataset. When string is passed, it is interpreted
        as the column name in the dataset containing group labels.


    n_jobs: int, default = -1
        The number of jobs to run in parallel (for functions that supports parallel
        processing) -1 means using all processors. To run all functions on single
        processor set n_jobs to None.


    use_gpu: bool or str, default = False
        When set to True, it will use GPU for training with algorithms that support it,
        and fall back to CPU if they are unavailable. When set to 'force', it will only
        use GPU-enabled algorithms and raise exceptions when they are unavailable. When
        False, all algorithms are trained using CPU only.

        GPU enabled algorithms:

        - Extreme Gradient Boosting, requires no further installation

        - CatBoost Classifier, requires no further installation
          (GPU is only enabled when data > 50,000 rows)

        - Light Gradient Boosting Machine, requires GPU installation

In [72]:
%%notify

best_models = compare_models(sort="F1", include = ["gbc", "ada", "lightgbm"], n_select = 5, fold = 10, turbo = True)

In [74]:
%%notify

best_model = best_models[2]
#best_model = create_model("rf")

In [75]:
%%notify

tuned_model = tune_model(best_model, optimize = "F1", n_iter = 50, search_library = 'optuna', choose_better = True, 
                         early_stopping=True)

In [76]:
# default model
print(best_model)

# tuned model
print(tuned_model)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               device='gpu', importance_type='split', learning_rate=0.1,
               max_depth=-1, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
               objective=None, random_state=7619, reg_alpha=0.0, reg_lambda=0.0,
               silent='warn', subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)
LGBMClassifier(bagging_fraction=0.8641506375381373, bagging_freq=4,
               boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               device='gpu', feature_fraction=0.9757641610215504,
               importance_type='split', learning_rate=0.11406676504183538,
               max_depth=-1, min_child_samples=80, min_child_weight=0.001,
               min_split_gain=0.2873063997050293, n_estimators=43, n_jobs=-1,
               num_leaves=9, objective=None, random_state=7619,
               reg_alpha=2.0615918368472656e-10,
               reg_lambda=0.00044308137309115965, silent='warn', subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

In [77]:
%%notify

final_model = finalize_model(tuned_model)

[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.9757641610215504, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9757641610215504
[LightGBM] [Warning] bagging_fraction is set=0.8641506375381373, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8641506375381373
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4

In [82]:
save_model(final_model, "final model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[], target='response',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_st...
                                 learning_rate=0.11406676504183538, max_depth=-1,
                                 min_child_samples=80, min_child_weight=0.001,
                                 min_split_gain=0.2873063997050293,
                                 n_estimators=43, n_jobs=-1, num_leaves=9,
                                 objective=None, random_state=7619,
                                 reg_alpha=2.0615918368472656e-10,
                                 reg_lambda=0.00044308137309115965,
                                 silent='warn', subsample=1.0,
                                 subsample_for_bin=200000, subsample_freq=0)]],
          verbose=False),
 'final model.pkl')

In [23]:
%%notify

unprocessed_prediction = predict_model(final_model, data = test_data)
unprocessed_prediction

,individualnumber,category_number,hakkedis_amt,odul_amt,gender,city_code,dateofbirth,cardnumber,genel_kategori,category_level_1,...,ts_category_level_2,ts_category_level_3,ts_category_level_4,amount,quantity,discount_type_1,discount_type_2,discount_type_3,Label,Score
0,95812936,9029,38.0,3.0,E,10.0,1995.0,987444691569515,kisisel_bakim,628,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5271
1,23929570,9012,28.0,2.0,E,34.0,1974.0,5687824656560416,gida,617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.5010
2,95948115,9019,21.0,2.0,E,67.0,1967.0,5687474662560115,gida,300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5220
3,100898513,9035,48.0,4.0,K,51.0,1978.0,8187204608568215,gida,305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5229
4,12769156,9015,26.0,3.0,K,34.0,1970.0,4787834626560515,gida,616,...,15.0,10.0,20.0,13.53,0.68,NaN,2.04,0.0,0,0.5149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31763,93418529,9049,32.0,3.0,E,38.0,1979.0,887284617560415,diger,410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5128
31764,97397069,9018,20.0,2.0,E,9.0,1993.0,6487034685567815,gida,131,...,10.0,10.0,10.0,0.50,2.00,NaN,0.00,0.0,0,0.5130
31774,95212479,9046,85.0,8.0,E,NaN,1962.0,7287954643563815,gida,341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5037
31775,93406449,9032,39.0,3.0,E,78.0,1966.0,9487234673567915,kisisel_bakim,220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5243
31776,98792801,9008,20.0,2.0,E,NaN,1980.0,1587664678560719,gida,613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5086

In [24]:
submission = pd.DataFrame({"individualnumber":test["individualnumber"]})
submission["response"] = list(unprocessed_prediction["Label"].astype(int))
submission = submission.sort_index(ascending=True)
submission

       individualnumber  response
0              95812936         0
1              23929570         1
2              95948115         0
3             100898513         0
4              12769156         0
...                 ...       ...
13231          93418529         0
13232          97397069         0
13233          95212479         0
13234          93406449         0
13235          98792801         0

[13236 rows x 2 columns]

In [25]:
submission["response"].value_counts()

0    12438
1      798
Name: response, dtype: int64

In [26]:
submission.to_csv(f"submission/Submission-{time.strftime('%d - %H-%M-%S')}.csv", index=False)